.navbar-brand img {
    width: 140px;
    height: auto;
    max-height: 80px;
}


.welcome_text p {
    margin-bottom: 10px! important;
}

.f_title {
    margin-bottom: 15px! important;
}

.custom-hr {
    border: none;
    border-top: 1px solid #ffffff;
    width: calc(100% - 60px); /* 30px blank space on both sides */
    margin: 0 auto; /* Center the line */
}

.nav-item .menu_btn{
    padding: 0px 42px;
    line-height: 50px;
    background-image: linear-gradient(to right, #8490ff 0%, #62bdfc 48%, #8490ff 100%);
    background-size: 200% auto;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    transition: all 300ms linear 0s;
    margin-top: 15px;
}
.nav-item .menu_btn:hover {
    background-position: right center;
    color: #fff; }

.l_blog_img img {
     width: 100%; /* Ensures images take the full width of the container */
     height: 250px; /* Set a fixed height */
     object-fit: cover; /* Ensures images maintain aspect ratio without distortion */
}
      
.projects_item img {
    width: 100%; /* Ensures images take the full width of the container */
    height: 250px; /* Set a fixed height */
    object-fit: cover; /* Ensures images maintain aspect ratio without distortion */
}

.testimonials_area {
    background: #ffffff! important;
}

.latest_blog_area {
    background: #f9f9ff;
}