.navbar-brand img {
    width: 140px;
    height: auto;
    max-height: 80px;
}


.welcome_text p {
    margin-bottom: 10px! important;
}

.f_title {
    margin-bottom: 15px! important;
}

.custom-hr {
    border: none;
    border-top: 1px solid #ffffff;
    width: calc(100% - 60px); /* 30px blank space on both sides */
    margin: 0 auto; /* Center the line */
}
