# Remove .php extension from URLs
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [L]

# Remove fragment identifier (#academicid) from URLs
Header always set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
